.presentacion {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.presentacion .presentacion--palabras {
  width: 60%;
  height: 100%;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor {
  position: relative;
  top: 180px;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor span {
  font-size: 20px;
  color: #8d8d8d;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor p {
  position: relative;
  top: 30px;
  font-size: 15px;
  color: #8d8d8d;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
  font-size: 80px;
  color: rgb(255, 68, 0);
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
  position: absolute;
  right: -10px;
  top: 62px;
  height: 85px;
  width: 0;
  background: #000;
  border-left: 2px solid #fff;
  animation: animacionTitulo 5s infinite alternate;
}
@keyframes animacionTitulo {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
  font-size: 40px;
  color: #fff;
}
.presentacion .presentacion--img img {
  width: 600px;
  height: 653px;
}

@media (min-width: 816px) and (max-width: 1115px) {
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor {
    position: relative;
    top: 180px;
    left: 100px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
    display: none;
  }
  .presentacion .presentacion--img img {
    width: 517px;
    height: 570px;
  }
}
@media (min-width: 674px) and (max-width: 816px) {
  .presentacion {
    padding: 30px 0 37px 0;
  }
  .presentacion .presentacion--palabras {
    width: 40%;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor {
    position: relative;
    top: 150px;
    left: 80px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor span {
    font-size: 15px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor p {
    font-size: 13px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
    font-size: 60px;
    position: relative;
    top: 10px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
    display: none;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
    font-size: 30px;
  }
  .presentacion .presentacion--img img {
    width: 450px;
    height: 503px;
  }
}
@media (min-width: 581px) and (max-width: 674px) {
  .presentacion {
    padding: 50px 0 117px 0;
  }
  .presentacion .presentacion--palabras {
    width: 30%;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor {
    position: relative;
    top: 120px;
    left: 50px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
    font-size: 50px;
    position: relative;
    top: 10px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
    display: none;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
    font-size: 25px;
  }
  .presentacion .presentacion--img {
    padding-left: 50px;
  }
  .presentacion .presentacion--img img {
    width: 370px;
    height: 423px;
  }
}
@media (min-width: 457px) and (max-width: 600px) {
  .presentacion {
    padding: 50px 0 187px 0;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor {
    position: relative;
    top: 80px;
    left: 50px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
    font-size: 45px;
    position: relative;
    top: 10px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
    display: none;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
    font-size: 20px;
  }
  .presentacion .presentacion--img img {
    width: 280px;
    height: 333px;
  }
}
@media (min-width: 400px) and (max-width: 457px) {
  .presentacion {
    padding: 50px 0 49% 0;
  }
  .presentacion .presentacion--palabras {
    width: 30%;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor {
    position: relative;
    top: 90px;
    left: 20px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor span {
    font-size: 13px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor p {
    font-size: 15px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
    font-size: 35px;
    position: relative;
    top: 10px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
    display: none;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
    font-size: 20px;
  }
  .presentacion .presentacion--img {
    position: relative;
    top: 100px;
    left: -10px;
  }
  .presentacion .presentacion--img img {
    width: 250px;
    height: 303px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .presentacion {
    padding: 50px 0 82% 0;
  }
  .presentacion .presentacion--palabras {
    width: 30%;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor {
    position: relative;
    top: 10px;
    left: 20px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor span {
    font-size: 13px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor p {
    font-size: 15px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
    font-size: 35px;
    position: relative;
    top: 10px;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 span {
    display: none;
  }
  .presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
    font-size: 20px;
  }
  .presentacion .presentacion--img {
    position: absolute;
    top: 120px;
    left: 80px;
  }
  .presentacion .presentacion--img img {
    width: 260px;
    height: 313px;
  }
}
.sobreMi {
  background-color: #e9e9e9;
  height: 660px;
  display: flex;
  flex-direction: row;
}
.sobreMi .sobreMi__contenedor--imagenMia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
}
.sobreMi .sobreMi__contenedor--imagenMia img {
  height: 400px;
  background-color: #000;
  border: 10px solid #8d8d8d;
}
.sobreMi .sobreMi--escritura {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura {
  width: 60%;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo {
  width: 100%;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo h2 {
  font-weight: 700;
  color: rgb(255, 68, 0);
  font-size: 40px;
  letter-spacing: 4px;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto {
  border: 2px solid rgb(255, 68, 0);
  margin-right: 25px;
  padding: 15px 30px;
  background-color: rgb(255, 68, 0);
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto a {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv {
  border: 2px solid rgb(255, 68, 0);
  margin-right: 25px;
  padding: 15px 30px;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 68, 0);
}

@media (min-width: 1000px) and (max-width: 1324px) {
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .texto {
    position: relative;
    right: 50px;
    width: 400px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv {
    padding: 3px 40px;
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  .sobreMi .sobreMi--escritura {
    width: 40%;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura {
    width: 80%;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo h2 {
    font-size: 30px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .texto {
    width: 120%;
    font-size: 13px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces {
    margin-left: 100px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto a {
    font-size: 13px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv {
    padding: 3px 40px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv a {
    font-size: 13px;
  }
}
@media (min-width: 525px) and (max-width: 750px) {
  .sobreMi {
    height: 600px;
  }
  .sobreMi .sobreMi__contenedor--imagenMia {
    margin-top: 200px;
    height: 200px;
  }
  .sobreMi .sobreMi__contenedor--imagenMia img {
    width: 182px;
    height: 200px;
  }
  .sobreMi .sobreMi--escritura {
    width: 50%;
    margin-top: 30px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura {
    width: 70%;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo h2 {
    font-size: 30px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .texto {
    width: 120%;
    font-size: 13px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces {
    margin-left: 50px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto {
    padding: 15px 15px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto a {
    font-size: 13px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv {
    padding: 3px 20px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv a {
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 525px) {
  .sobreMi {
    height: 725px;
    flex-direction: column;
    align-items: center;
  }
  .sobreMi .sobreMi__contenedor--imagenMia {
    margin-top: 50px;
  }
  .sobreMi .sobreMi__contenedor--imagenMia img {
    width: 182px;
    height: 200px;
  }
  .sobreMi .sobreMi--escritura {
    width: 80%;
    margin-top: 30px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura {
    width: 80%;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo h2 {
    font-size: 30px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .texto {
    width: 120%;
    font-size: 13px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces {
    margin-left: 20px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto {
    margin-bottom: 10px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto a {
    font-size: 13px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv {
    position: relative;
    bottom: 5px;
    padding: 3px 40px;
  }
  .sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv a {
    font-size: 13px;
  }
}
.tecnologias {
  background-color: #000;
  height: 650px;
}
.tecnologias h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
.tecnologias h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.tecnologias .contenedor--tecnologias {
  width: 70%;
  height: 60%;
}
.tecnologias .contenedor--tecnologias h3 {
  color: #fff;
}
.tecnologias .contenedor--tecnologias img {
  width: 80px;
  height: 80px;
}

@media (min-width: 300px) and (max-width: 650px) {
  .tecnologias h2 {
    font-size: 50px;
  }
  .tecnologias .contenedor--tecnologias h3 {
    font-size: 15px;
  }
  .tecnologias .contenedor--tecnologias img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 300px) and (max-width: 475px) {
  .tecnologias h2 {
    font-size: 30px;
  }
  .tecnologias .contenedor--tecnologias {
    flex-direction: row !important;
  }
  .tecnologias .contenedor--tecnologias .htmlCssboot {
    position: relative;
    right: 50px;
    display: flex;
    flex-direction: column;
  }
  .tecnologias .contenedor--tecnologias .htmlCssboot .col {
    margin: 20px;
  }
  .tecnologias .contenedor--tecnologias .sassGitGithub {
    position: relative;
    bottom: 25px;
    display: flex;
    flex-direction: column;
  }
  .tecnologias .contenedor--tecnologias .sassGitGithub .col {
    margin: 20px;
  }
  .tecnologias .contenedor--tecnologias h3 {
    font-size: 15px;
  }
  .tecnologias .contenedor--tecnologias img {
    width: 60px;
    height: 60px;
  }
}
.proyectosDestacados {
  background-color: rgb(20, 20, 20);
  height: 700px;
}
.proyectosDestacados h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
.proyectosDestacados h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.proyectosDestacados .contenedor--proyectosDestacados {
  position: relative;
  top: 50px;
  width: 90%;
}
.proyectosDestacados .contenedor--proyectosDestacados .card {
  border: #474747 5px solid;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .img--proyecto {
  width: 100%;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .img--proyecto img {
  width: 100%;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio {
  background-color: #000;
  border-radius: 50px;
  width: 180px;
  border: 2px solid #000;
  transition: 0.2s;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #fff;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio:hover {
  border: 2px solid #000;
  background-color: #fff;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio:hover a {
  color: #000;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--codigo a {
  text-decoration: none;
  font-size: 17px;
  color: #6b6b6b;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--codigo a:hover {
  color: #000;
}

.todosProyectos {
  background-color: #000;
  height: 750px;
}
.todosProyectos .proyectos {
  width: 100%;
}
.todosProyectos .proyectos .titulo--proyectos {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 100px;
  position: relative;
}
.todosProyectos .proyectos .titulo--proyectos:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.todosProyectos .proyectos .card--proyectos {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss {
  position: relative;
  width: 300px;
  height: 400px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente {
  background-color: #fff;
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #bebebe;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente h3 {
  position: absolute;
  bottom: 70px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #c0c0c0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente .imagen--html {
  position: relative;
  top: 50px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente .imagen--javascript {
  position: relative;
  top: 15px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras {
  transform: perspective(680px) rotateY(180deg);
  background: rgb(54, 54, 54);
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px #8f8f8f;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras p {
  color: #dfdfdf;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras .link {
  border-top: solid 1px #868686;
  height: 50px;
  line-height: 50px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras .link a {
  color: #868686;
  text-decoration: none;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras .link a:hover {
  color: #fff;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}

.contacto {
  height: 700px;
}
.contacto h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
.contacto h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.contacto a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.contacto form {
  width: 50%;
}
.contacto form .contenedor__contacto--formulario {
  width: 100%;
}
.contacto form .contenedor__contacto--formulario .contenedor__contacto__formulario--active {
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border: 3px solid rgb(161, 161, 161);
  border-radius: 50px;
  appearance: none;
  background-color: rgb(236, 236, 236);
}
.contacto form .contenedor__contacto--formulario .nombre {
  margin-right: 10px;
}
.contacto form .contenedor__contacto--formulario .apellido {
  margin-left: 10px;
}
.contacto form .contenedor__contacto--formulario .textarea {
  border-radius: 30px;
  height: 100px;
}
.contacto form .enlaces--boton {
  background-color: rgb(255, 68, 0);
  border-radius: 20px;
}
.contacto form .enlaces--boton button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}
.contacto form .enlaces--boton:hover {
  background-color: rgb(255, 86, 25);
}

header {
  font-family: "Tilt Neon", cursive;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 10% 0 0;
}
header p {
  z-index: 100;
  font-size: 40px;
  letter-spacing: 4px;
  position: relative;
}
header p a {
  color: rgb(255, 68, 0);
  text-decoration: none;
}
header p:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
header .abrir--menu {
  display: none;
}
header nav .cerrar--menu {
  display: none;
}
header nav ul {
  display: flex;
}
header nav ul .li {
  display: inline-block;
  list-style: none;
}
header nav ul .li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
header nav ul .li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
header nav ul .li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header nav ul .li--sinEfecto {
  list-style: none;
}
header nav ul .li--sinEfecto a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
header nav ul .li--sinEfecto .a--items {
  font-size: 15px;
  color: #000;
}

footer a {
  color: #000;
}

@media (min-width: 999px) and (max-width: 1075px) {
  header {
    padding: none;
  }
  header nav ul .li a {
    font-size: 16px;
  }
  header nav ul .li--sinEfecto a {
    font-size: 16px;
  }
}
@media (min-width: 682px) and (max-width: 999px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul .li a {
    font-size: 16px;
  }
  header nav ul .li--sinEfecto a {
    font-size: 16px;
  }
}
@media (min-width: 300px) and (max-width: 682px) {
  header .abrir--menu {
    display: block;
    color: #fff;
    border: none;
    background-color: #000;
  }
  header nav {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    height: 1200px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  header nav .cerrar--menu {
    color: #fff;
    border: none;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 23px 52px 0 0;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 50%;
    gap: 20px;
  }
  header .visible {
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  header p {
    font-size: 30px;
  }
  header .abrir--menu {
    margin-right: 0px;
  }
  header nav .cerrar--menu {
    margin-top: 10px;
    margin-right: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
