.presentacion {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.presentacion .presentacion--palabras {
  width: 60%;
  height: 100%;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor {
  position: relative;
  top: 180px;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor span {
  font-size: 20px;
  color: #8d8d8d;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor p {
  position: relative;
  top: 30px;
  font-size: 15px;
  color: #8d8d8d;
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor h1 {
  font-size: 80px;
  color: rgb(255, 68, 0);
}
.presentacion .presentacion--palabras .presentacion__palabras--contenedor h2 {
  font-size: 40px;
  color: #fff;
}
.presentacion .presentacion--img img {
  width: 600px;
  height: 653px;
}

.sobreMi {
  background-color: #e9e9e9;
  height: 660px;
  display: flex;
  flex-direction: row;
}
.sobreMi .sobreMi__contenedor--imagenMia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
.sobreMi .sobreMi__contenedor--imagenMia img {
  height: 400px;
  background-color: #000;
  border: 10px solid #8d8d8d;
}
.sobreMi .sobreMi--escritura {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura {
  width: 60%;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo {
  width: 100%;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .sobreMi--titulo h2 {
  font-weight: 700;
  color: rgb(255, 68, 0);
  font-size: 40px;
  letter-spacing: 4px;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto {
  border: 2px solid rgb(255, 68, 0);
  margin-right: 25px;
  padding: 15px 30px;
  background-color: rgb(255, 68, 0);
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--contacto a {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv {
  border: 2px solid rgb(255, 68, 0);
  margin-right: 25px;
  padding: 15px 30px;
}
.sobreMi .sobreMi--escritura .sobreMi__contenedor--escritura .enlaces .enlaces--cv a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 68, 0);
}

.tecnologias {
  background-color: #000;
  height: 650px;
}
.tecnologias h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
.tecnologias h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.tecnologias .contenedor--tecnologias {
  width: 70%;
  height: 60%;
}
.tecnologias .contenedor--tecnologias h3 {
  color: #fff;
}
.tecnologias .contenedor--tecnologias img {
  width: 80px;
  height: 80px;
}

.proyectosDestacados {
  background-color: rgb(20, 20, 20);
  height: 700px;
}
.proyectosDestacados h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
.proyectosDestacados h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.proyectosDestacados .contenedor--proyectosDestacados {
  position: relative;
  top: 50px;
  width: 90%;
}
.proyectosDestacados .contenedor--proyectosDestacados .card {
  border: #474747 5px solid;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .img--proyecto {
  width: 100%;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .img--proyecto img {
  width: 100%;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio {
  background-color: #000;
  border-radius: 50px;
  width: 180px;
  border: 2px solid #000;
  transition: 0.2s;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #fff;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio:hover {
  border: 2px solid #000;
  background-color: #fff;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--sitio:hover a {
  color: #000;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--codigo a {
  text-decoration: none;
  font-size: 17px;
  color: #6b6b6b;
}
.proyectosDestacados .contenedor--proyectosDestacados .card .texto--codigo a:hover {
  color: #000;
}

.todosProyectos {
  background-color: #000;
  height: 750px;
}
.todosProyectos .proyectos {
  width: 100%;
}
.todosProyectos .proyectos .titulo--proyectos {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 100px;
  position: relative;
}
.todosProyectos .proyectos .titulo--proyectos:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.todosProyectos .proyectos .card--proyectos {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss {
  position: relative;
  width: 300px;
  height: 400px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente {
  background-color: #fff;
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #bebebe;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente h3 {
  position: absolute;
  bottom: 70px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #c0c0c0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente .imagen--html {
  position: relative;
  top: 50px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .frente .imagen--javascript {
  position: relative;
  top: 15px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras {
  transform: perspective(680px) rotateY(180deg);
  background: rgb(54, 54, 54);
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px #8f8f8f;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras p {
  color: #dfdfdf;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras .link {
  border-top: solid 1px #868686;
  height: 50px;
  line-height: 50px;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras .link a {
  color: #868686;
  text-decoration: none;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss .atras .link a:hover {
  color: #fff;
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}
.todosProyectos .proyectos .card--proyectos .card--htmlCss:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}

.contacto {
  height: 700px;
}
.contacto h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
.contacto h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.contacto a {
  color: red;
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.contacto form {
  width: 50%;
}
.contacto form .contenedor__contacto--formulario {
  width: 100%;
}
.contacto form .contenedor__contacto--formulario .contenedor__contacto__formulario--active {
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 50px;
  appearance: none;
  color: #040404;
  background-color: rgb(236, 236, 236);
}
.contacto form .contenedor__contacto--formulario .nombre {
  margin-right: 10px;
}
.contacto form .contenedor__contacto--formulario .apellido {
  margin-left: 10px;
}
.contacto form .contenedor__contacto--formulario .textarea {
  border-radius: 30px;
  height: 100px;
}
.contacto form .enlaces--boton {
  background-color: rgb(255, 68, 0);
}
.contacto form .enlaces--boton button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}
.contacto form .enlaces--boton:hover {
  background-color: rgb(255, 86, 25);
}

.encabezado {
  font-family: "Tilt Neon", cursive;
  width: 100%;
  height: 70px;
  background-color: #000;
  position: fixed;
  z-index: 1;
}
.encabezado p {
  font-size: 20px;
  color: rgb(255, 68, 0);
  letter-spacing: 4px;
  position: relative;
}
.encabezado p:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
.encabezado .contenedor--enlaces {
  width: 100%;
}
.encabezado .contenedor--enlaces ul {
  padding-right: 10%;
}
.encabezado .contenedor--enlaces ul .li {
  display: inline-block;
  list-style: none;
}
.encabezado .contenedor--enlaces ul .li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.encabezado .contenedor--enlaces ul .li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.encabezado .contenedor--enlaces ul .li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.encabezado .contenedor--enlaces ul .li--sinEfecto a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.encabezado .contenedor--enlaces ul .li--sinEfecto .a--items {
  font-size: 15px;
  color: #000;
}

footer a {
  color: #000;
}

/*# sourceMappingURL=styles.css.map */
