@use 'mixinVariables.scss';

.tecnologias {
    background-color: mixinVariables.$colorNegro;
    height: 650px;

    h2 {
        @include mixinVariables.titulo();      
    }

    .contenedor--tecnologias {
        width: 70%;
        height: 60%;

        h3{
            color: mixinVariables.$colorBlanco;
        }

        img{
            width: 80px;
            height: 80px;
        }
    }
}