@use 'mixinVariables.scss';
@use 'presentacion.scss';
@use 'sobreMi.scss';
@use 'tecnologias.scss';
@use 'proyectos.scss';
@use 'contacto.scss';

header {
    font-family: 'Tilt Neon', cursive;
    width: mixinVariables.$cienPorciento;
    background-color: mixinVariables.$colorNegro;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10% 0 0;

    p {
        z-index: 100;
        font-size: 40px;
        letter-spacing: 4px;
        position: relative;

        a {
            color: mixinVariables.$colorNaranja;
            text-decoration: none;
        }

        &:after {
            @include mixinVariables.lineaNaranja();
        }
    }

    .abrir--menu {
        display: none;
    }

    nav {
        .cerrar--menu {
            display: none;
        }

        ul {
            display: flex;

            .li {
                display: inline-block;
                list-style: none;

                a {
                    font-size: mixinVariables.$fontSize20px;
                    color: mixinVariables.$colorBlanco;
                    text-decoration: none;
                    position: relative;


                    &:after {
                        @include mixinVariables.lineaNaranja();
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.4s ease-out;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }

            .li--sinEfecto {
                list-style: none;

                a {
                    font-size: mixinVariables.$fontSize20px;
                    color: mixinVariables.$colorBlanco;
                    text-decoration: none;
                    position: relative;

                }

                .a--items {
                    font-size: 15px;
                    color: mixinVariables.$colorNegro;
                }
            }
        }
    }
}

footer {
    a {
        color: mixinVariables.$colorNegro;
    }
}


@media (min-width: 999px) and (max-width:1075px) {
    header {
        padding: none;

        nav {
            ul {
                .li {
                    a {
                        font-size: 16px;
                    }
                }

                .li--sinEfecto {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 682px) and (max-width:999px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        nav {
            ul {
                .li {
                    a {
                        font-size: 16px;
                    }
                }

                .li--sinEfecto {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width:682px) {
    header {
        .abrir--menu {
            display: block;
            color: mixinVariables.$colorBlanco;
            border: none;
            background-color: mixinVariables.$colorNegro;
        }

        nav {
            z-index: 1;
            opacity: 0;
            visibility: hidden;

            height: 1200px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: mixinVariables.$colorNegro;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
            transition: .5s;

            .cerrar--menu {
                color: mixinVariables.$colorBlanco;
                border: none;
                background-color: mixinVariables.$colorNegro;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                margin: 23px 52px 0 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: end;
                margin-top: 50%;
                gap: 20px;
            }
        }

        .visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (min-width: 300px) and (max-width:400px){
    header{
        p{
            font-size: 30px;
        }
        .abrir--menu{
            margin-right: 0px;
        }

        nav{
            .cerrar--menu{
                margin-top: 10px;
                margin-right: 0;
            }
        }
    }
}