@use 'mixinVariables.scss';
@use 'presentacion.scss';
@use 'sobreMi.scss';
@use 'tecnologias.scss';
@use 'proyectos.scss';
@use 'contacto.scss';


.encabezado {
    font-family: 'Tilt Neon', cursive;
    width: mixinVariables.$cienPorciento;
    height: 70px;
    background-color: mixinVariables.$colorNegro;
    position: fixed;
    z-index: 1;

    p {
        font-size: mixinVariables.$fontSize20px;
        color: mixinVariables.$colorNaranja;
        letter-spacing: 4px;
        position: relative;

        &:after {
            @include mixinVariables.lineaNaranja();
        }
    }

    .contenedor--enlaces {
        width: mixinVariables.$cienPorciento;

        ul {
            padding-right: 10%;

            .li {
                display: inline-block;
                list-style: none;

                a {
                    font-size: mixinVariables.$fontSize20px;
                    color: mixinVariables.$colorBlanco;
                    text-decoration: none;
                    position: relative;


                    &:after {
                        @include mixinVariables.lineaNaranja();
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.4s ease-out;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }

            .li--sinEfecto{
                a{
                    font-size: mixinVariables.$fontSize20px;
                    color: mixinVariables.$colorBlanco;
                    text-decoration: none;
                    position: relative;

                }

                .a--items{
                    font-size: 15px;
                    color: mixinVariables.$colorNegro;
                }  
            }
        }
    }
}

footer{
    a{
        color: mixinVariables.$colorNegro;
    }
}