body {
  background-color: #000000;
}
body .seccion--proyectos {
  background-color: #000000;
}
body .seccion--proyectos h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(255, 68, 0);
  padding-top: 80px;
  position: relative;
}
body .seccion--proyectos h1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 68, 0);
}
body .seccion--proyectos h4 {
  color: #fff;
}
body .seccion--proyectos .contenedor {
  width: 100%;
  height: 100%;
}
body .seccion--proyectos .contenedor .contenedor--img {
  position: relative;
  width: 350px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 10px 15px #c0c0c0;
  cursor: pointer;
}
body .seccion--proyectos .contenedor .contenedor--img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
}
body .seccion--proyectos .contenedor .contenedor--img .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(224, 224, 224, 0.9);
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
body .seccion--proyectos .contenedor .contenedor--img .capa .sitio {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 40px;
  border-bottom: #8d8d8d 2px solid;
  border-top: #8d8d8d 2px solid;
  margin-bottom: 150px;
  transition: all 0.3s ease-out;
}
body .seccion--proyectos .contenedor .contenedor--img .capa .sitio:hover {
  color: #000;
  border-bottom: #000 2px solid;
  border-top: #000 2px solid;
}
body .seccion--proyectos .contenedor .contenedor--img .capa .codigo {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: #3d3d3d;
  transition: all 0.3s ease-out;
}
body .seccion--proyectos .contenedor .contenedor--img .capa .codigo:hover {
  font-size: 20px;
  color: #000;
}
body .seccion--proyectos .contenedor .contenedor--img:hover > .capa {
  opacity: 1;
  visibility: visible;
}
body .seccion--proyectos .contenedor .contenedor--img:hover > .capa .sitio {
  margin: 50px 0;
}
body footer {
  background-color: #000000;
}
body footer span {
  color: #fff;
}
body footer a {
  color: #fff;
}

@media (min-width: 683px) and (max-width: 1000px) {
  .encabezado--seccion--proyectos {
    flex-direction: row;
  }
  .encabezado--seccion--proyectos nav ul .li a {
    font-size: 14px;
  }
}
@media (min-width: 525px) and (max-width: 1150px) {
  .seccion--proyectos .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion--proyectos .contenedor .contenedor--img {
    width: 450px;
    height: 350px;
  }
  .seccion--proyectos .contenedor .contenedor--img .capa .sitio {
    margin-bottom: 0px;
  }
  .seccion--proyectos .contenedor .contenedor--img .capa:hover > .capa .sitio {
    margin: 100px 0;
  }
}
@media (min-width: 375px) and (max-width: 525px) {
  .seccion--proyectos h4 {
    font-size: 18px;
  }
  .seccion--proyectos .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion--proyectos .contenedor .contenedor--img {
    width: 350px;
    height: 250px;
  }
  .seccion--proyectos .contenedor .contenedor--img .capa .sitio {
    margin-bottom: 0px;
  }
  .seccion--proyectos .contenedor .contenedor--img .capa:hover > .capa .sitio {
    margin: 100px 0;
  }
}
@media (min-width: 300px) and (max-width: 375px) {
  .seccion--proyectos h4 {
    font-size: 18px;
  }
  .seccion--proyectos .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion--proyectos .contenedor .contenedor--img {
    width: 275px;
    height: 175px;
  }
  .seccion--proyectos .contenedor .contenedor--img .capa .sitio {
    margin-bottom: 0px;
  }
  .seccion--proyectos .contenedor .contenedor--img .capa:hover > .capa .sitio {
    margin: 100px 0;
  }
}

/*# sourceMappingURL=seccionProyectos.css.map */
