@use '../mixinVariables.scss';

body {
    background-color: #000000;

    .seccion--proyectos {
        background-color: #000000;


        h1 {
            @include mixinVariables.titulo();
        }

        h4 {
            color: #fff;
        }


        .contenedor {
            width: mixinVariables.$cienPorciento;
            height: 100%;

            .contenedor--img {
                position: relative;
                width: 350px;
                height: 250px;
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 0px 10px 15px #c0c0c0;
                cursor: pointer;

                img {
                    width: mixinVariables.$cienPorciento;
                    height: mixinVariables.$cienPorciento;
                    transition: mixinVariables.$transition;
                }

                .capa {
                    position: absolute;
                    top: 0;
                    width: mixinVariables.$cienPorciento;
                    height: mixinVariables.$cienPorciento;
                    background: rgba(224, 224, 224, 0.9);
                    transition: mixinVariables.$transition;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;

                    .sitio {
                        text-decoration: none;
                        color: #5e5e5e;
                        font-weight: 700;
                        letter-spacing: 3px;
                        font-size: 40px;
                        border-bottom: mixinVariables.$colorGris 2px solid;
                        border-top: mixinVariables.$colorGris 2px solid;
                        margin-bottom: 150px;
                        transition: mixinVariables.$transition;

                        &:hover {
                            color: mixinVariables.$colorNegro;
                            border-bottom: mixinVariables.$colorNegro 2px solid;
                            border-top: mixinVariables.$colorNegro 2px solid;
                        }
                    }

                    .codigo {
                        font-size: 25px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        text-decoration: none;
                        color: #3d3d3d;
                        transition: mixinVariables.$transition;

                        &:hover {
                            font-size: mixinVariables.$fontSize20px;
                            color: mixinVariables.$colorNegro;
                        }
                    }

                }

                &:hover>.capa {
                    opacity: 1;
                    visibility: visible;

                    .sitio {
                        margin: 50px 0;
                    }
                }
            }
        }
    }

    footer {
        background-color: #000000;
        
        span{
            color: #fff;
        }

        a{
            color: #fff;
        }
    }
}

@media (min-width:683px) and (max-width: 1000px) {
    .encabezado--seccion--proyectos {
        flex-direction: row;

        nav {
            ul {
                .li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width:525px) and (max-width: 1150px) {
    .seccion--proyectos {
        .contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contenedor--img {
                width: 450px;
                height: 350px;

                .capa {
                    .sitio {
                        margin-bottom: 0px;
                    }

                    &:hover>.capa {
                        .sitio {
                            margin: 100px 0;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:375px) and (max-width: 525px) {
    .seccion--proyectos {

        h4 {
            font-size: 18px;
        }

        .contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contenedor--img {
                width: 350px;
                height: 250px;

                .capa {
                    .sitio {
                        margin-bottom: 0px;
                    }

                    &:hover>.capa {
                        .sitio {
                            margin: 100px 0;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:300px) and (max-width: 375px) {
    .seccion--proyectos {
        h4 {
            font-size: 18px;
        }

        .contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contenedor--img {
                width: 275px;
                height: 175px;

                .capa {
                    .sitio {
                        margin-bottom: 0px;
                    }

                    &:hover>.capa {
                        .sitio {
                            margin: 100px 0;
                        }
                    }
                }
            }
        }
    }
}