@use '../mixinVariables.scss';

.contacto {
    h2 {
        @include mixinVariables.titulo();
    }

    a {
        text-decoration: none;
        font-size: mixinVariables.$fontSize20px;
        color: mixinVariables.$colorBlanco;
    }
}


@media (min-width: 300px) and (max-width:767px) {
    .contacto {
        h2 {
            @include mixinVariables.titulo();
        }

        a {
            text-decoration: none;
            font-size: mixinVariables.$fontSize20px;
            color: mixinVariables.$colorNegro;
        }
    }
}