@use '../mixinVariables.scss';

.todosProyectos {
    background-color: rgb(20, 20, 20);
    height: 750px;

    .proyectos {
        width: mixinVariables.$cienPorciento;

        .titulo--proyectos {
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 3px;
            color: mixinVariables.$colorNaranja;
            padding-top: 100px;
            position: relative;

            &:after {
                @include mixinVariables.lineaNaranja();
            }
        }

        .card--proyectos {
            width: mixinVariables.$cienPorciento;
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;


            .card--htmlCss {
                position: relative;
                width: 300px;
                height: 400px;

                .face {
                    position: absolute;
                    width: mixinVariables.$cienPorciento;
                    height: mixinVariables.$cienPorciento;
                    backface-visibility: hidden;
                    border-radius: 10px;
                    overflow: hidden;
                    transition: .5s;
                }

                .frente {
                    background-color: mixinVariables.$colorBlanco;
                    transform: perspective(600px) rotateY(0deg);
                    box-shadow: 0 5px 10px #bebebe;

                    h3 {
                        position: absolute;
                        top: 330px;
                        width: mixinVariables.$cienPorciento;
                        height: 45px;
                        line-height: 45px;
                        color: #c0c0c0;
                        background-color: rgba(255, 255, 255, 0.9);
                        text-align: center;
                    }

                    .imagen--html {
                        position: relative;
                        top: 50px;
                    }

                    img {
                        width: 100%;
                        height: 80%;
                        object-fit: cover;
                    }
                }

                .atras {
                    transform: perspective(680px) rotateY(180deg);
                    background: rgb(54, 54, 54);
                    padding: 15px;
                    color: mixinVariables.$colorBlanco;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: 0 5px 10px #8f8f8f;

                    h3 {
                        font-size: 30px;
                        margin-top: 20px;
                        letter-spacing: 2px;
                    }

                    p {
                        color: #dfdfdf;
                        position: relative;
                        bottom: 50px;
                    }

                    .link {
                        border-top: solid 1px #868686;
                        height: 50px;
                        line-height: 50px;
                        position: relative;
                        bottom: 30px;
                        display: flex;
                        flex-direction: column;

                        a {
                            color: #868686;
                            text-decoration: none;

                            &:hover {
                                color: #fff;
                            }
                        }

                        .verCodigo {
                            position: relative;
                            bottom: 18px;
                            font-size: 20px;
                        }
                    }
                }

                &:hover {
                    .frente {
                        transform: perspective(600px) rotateY(180deg);
                    }
                }

                &:hover {
                    .atras {
                        transform: perspective(600px) rotateY(360deg);
                    }
                }
            }
        }
    }

    button {
        background-color: rgb(255, 68, 0);
        border: 2px solid rgb(255, 68, 0);
        color: #fff;
        border-radius: 20px;
        margin-top: 60px;
        font-size: 15px;
        font-weight: 600;

        &:hover {
            border: 2px solid rgb(255, 68, 0);
            background-color: rgb(231, 62, 0);
            color: #fff;
        }
    }
}


@media (min-width: 300px) and (max-width:975px) {
    .todosProyectos {
        .proyectos {
            .card--proyectos {
                .card--htmlCss {
                    width: 250px;
                    height: 350px;

                    .frente {
                        .h3--javascript {
                            position: relative;
                            top: 5px;
                        }

                        .imagen--javascript {
                            z-index: 1;
                        }
                    }
                }

            }
        }
    }
}

@media (min-width: 300px) and (max-width:800px) {
    .todosProyectos {
        height: 1500px;

        .proyectos {
            .card--proyectos {
                flex-direction: column;

                .card--htmlCss {
                    margin: 20px;
                }

            }
        }
    }
}