@use '../mixinVariables.scss';
.proyectosDestacados {
    background-color: rgb(20, 20, 20);
    height: 700px;

    h2 {
        @include mixinVariables.titulo();
    }


    .contenedor--proyectosDestacados {
        position: relative;
        top: 50px;
        width: 90%;

        .card {
            border: #474747 5px solid;

            .img--proyecto {
                width: mixinVariables.$cienPorciento;

                img {
                    width: mixinVariables.$cienPorciento;
                }
            }

            .texto--sitio {
                background-color: mixinVariables.$colorNegro;
                border-radius: 50px;
                width: 180px;
                border: 2px solid mixinVariables.$colorNegro;
                transition: .2s;

                a {
                    text-decoration: none;
                    letter-spacing: 3px;
                    color: mixinVariables.$colorBlanco;
                }

                &:hover {
                    border: 2px solid mixinVariables.$colorNegro;
                    background-color: mixinVariables.$colorBlanco;

                    a {
                        color: mixinVariables.$colorNegro;
                    }
                }
            }

            .texto--codigo {
                a {
                    text-decoration: none;
                    font-size: 17px;
                    color: #6b6b6b;

                    &:hover {
                        color: mixinVariables.$colorNegro;
                    }
                }
            }
        }
    }
}

@media (min-width: 585px) and (max-width:825px) {
    .proyectosDestacados {
        background-color: rgb(20, 20, 20);
        height: 700px;

        h2 {
            font-size: 40px;
        }
    }
}

@media (min-width: 585px) and (max-width:767px) {
    .proyectosDestacados {
        height: 1200px;

        .contenedor--proyectosDestacados {
            width: 60%;
        }
    }
}

@media (min-width: 500px) and (max-width:650px) {
    .proyectosDestacados {
        height: 1220px;

        h2 {
            font-size: 40px;
            display: flex;
            flex-direction: column;

            span {
                border-bottom: 2px solid mixinVariables.$colorNaranja;
            }

            &:after {
                display: none;
            }
        }

        .contenedor--proyectosDestacados {
            width: 65%;
            .card {
                .texto--sitio {
                    background-color: mixinVariables.$colorNegro;
                    border-radius: 50px;
                    width: 120px;
                    border: 2px solid mixinVariables.$colorNegro;
                    transition: .2s;
                }
            }
        }
    }
}


@media (min-width: 300px) and (max-width:500px) {
    .proyectosDestacados {
        height: 1100px;

        h2 {
            font-size: 40px;
            display: flex;
            flex-direction: column;

            span {
                border-bottom: 2px solid mixinVariables.$colorNaranja;
            }

            &:after {
                display: none;
            }
        }

        .contenedor--proyectosDestacados {
            width: 70%;
            .card {
                // margin: 10px;
                .texto--sitio {
                    background-color: mixinVariables.$colorNegro;
                    border-radius: 50px;
                    width: 120px;
                    border: 2px solid mixinVariables.$colorNegro;
                    transition: .2s;
                }
            }
        }
    }
}




.todosProyectos {
    background-color: mixinVariables.$colorNegro;
    height: 750px;

    .proyectos {
        width: mixinVariables.$cienPorciento;

        .titulo--proyectos {
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 3px;
            color: mixinVariables.$colorNaranja;
            padding-top: 100px;
            position: relative;

            &:after {
                @include mixinVariables.lineaNaranja();
            }
        }

        .card--proyectos {
            width: mixinVariables.$cienPorciento;
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;


            .card--htmlCss {
                position: relative;
                width: 300px;
                height: 400px;

                .face {
                    position: absolute;
                    width: mixinVariables.$cienPorciento;
                    height: mixinVariables.$cienPorciento;
                    backface-visibility: hidden;
                    border-radius: 10px;
                    overflow: hidden;
                    transition: .5s;
                }

                .frente {
                    background-color: mixinVariables.$colorBlanco;
                    transform: perspective(600px) rotateY(0deg);
                    box-shadow: 0 5px 10px #bebebe;

                    h3 {
                        position: absolute;
                        bottom: 70px;
                        width: mixinVariables.$cienPorciento;
                        height: 45px;
                        line-height: 45px;
                        color: #c0c0c0;
                        background-color: rgba(255, 255, 255, 0.9);
                        text-align: center;
                    }

                    .imagen--html {
                        position: relative;
                        top: 50px;
                    }

                    .imagen--javascript {
                        position: relative;
                        top: 15px;
                    }
                }

                .atras {
                    transform: perspective(680px) rotateY(180deg);
                    background: rgb(54, 54, 54);
                    padding: 15px;
                    color: mixinVariables.$colorBlanco;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: 0 5px 10px #8f8f8f;

                    h3 {
                        font-size: 30px;
                        margin-top: 20px;
                        letter-spacing: 2px;
                    }

                    p {
                        color: #dfdfdf;
                    }

                    .link {
                        border-top: solid 1px #868686;
                        height: 50px;
                        line-height: 50px;

                        a {
                            color: #868686;
                            text-decoration: none;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }

                &:hover {
                    .frente {
                        transform: perspective(600px) rotateY(180deg);
                    }
                }

                &:hover {
                    .atras {
                        transform: perspective(600px) rotateY(360deg);
                    }
                }
            }
        }
    }
}


@media (min-width: 300px) and (max-width:975px) {
    .todosProyectos {
        .proyectos {
            .card--proyectos {
                .card--htmlCss {
                    width: 250px;
                    height: 350px;

                    .frente{
                        .h3--javascript{
                            position: relative;
                            top: 5px;
                        }

                        .imagen--javascript {
                            z-index: 1;
                        }
                    }
                }

            }
        }
    }
}

@media (min-width: 300px) and (max-width:800px) {
    .todosProyectos {
        height: 1380px;
        .proyectos {
            .card--proyectos {
                flex-direction: column;
                .card--htmlCss {
                    margin: 20px;
                }

            }
        }
    }
}